html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.learnEcharts {
    background: #03A9F4;
    overflow: hidden;
}

.learnEcharts h2 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.learnEcharts ul {
    display: inline-block;
    height: auto;
    width: 210px;
    margin: 80px 0 0 56px;
    border: 2px solid #FFFFFF;
    font-size: 20px;
    font-family: "Microsoft YaHei light";
    text-align: left;
    text-indent: 20px;
    vertical-align: top;
}

.learnEcharts li {
    height: 36px;
    line-height: 36px;
    color: white;
    list-style: none;
}

.learnEcharts li a {
    height: 36px;
    line-height: 36px;
    display: block;
    color: white;
    text-decoration: none;
}

.learnEcharts li:first-child {
    text-indent: 0;
    text-align: center;
    background-color: #FFFFFF;
    color: #333;
}

.learnEcharts li a:hover {
    background-color: #FFFFFF;
    color: #333;
    cursor: pointer;
}

.container {
    overflow: hidden;
}

@media (min-width: 1200px) {
    .container {
        width: 970px
    }
}

